<div id="account-modal" class="account-modal">
    <div class="modal__content">
        <span class="modal__close">&times;</span>
        <h2 class="h2">Вход</h2>
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="modal__content__phone">
                <label>Email</label>
                <input type="text" name="Email" />
            </div>
            <div class="modal__content__password">
                <label>Пароль</label>
                <input type="password" name="Password" />
            </div>
            <input type="submit" value="Войти" class="modal__btn" />
            <div>Нет аккаунта?<a asp-controller="Account" asp-action="Register"> Регистрация</a></div>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>

