<div class="account-login">
    <div class="account-content">
        <h2 class="h2">Вход</h2>
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="account__phone">
                <label>Email</label>
                <input type="text" name="Email"/>
            </div>
            <div class="account__password">
                <label>Пароль</label>
                <input type="password" name="Password" />
            </div>
            <input type="submit" value="Войти" class="action-link account__btn" />
            <div>Нет аккаунта?<a asp-controller="Account" asp-action="Register"> Регистрация</a></div>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>

